<div class="container">
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <!-- brand -->
    <a class="navbar-brand" href="index.html">{{ brand }}</a>

    <!-- collapse button -->
    <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarMenu">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- collapsable navbar menu -->
    <div class="collapse navbar-collapse" id="navbarMenu">
      <!-- navbar menu -->
      <ul class="navbar-nav mr-auto">
        <!-- home link -->
        <li class="nav-item">
          <a class="nav-link" href="#">Home</a>
        </li>
        <!-- about link -->
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
      </ul>
    </div><!-- /.collapse navbar-collapse -->
  </nav>
</div><!-- /.container -->